In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('datasets/housing.csv')

## Аттрибуты

In [3]:
df.shape

(20640, 11)

In [4]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity', 'id'],
      dtype='object')

In [5]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
id                      int64
dtype: object

## df.astype

Изменить тип данных

In [6]:
df['id'].dtype

dtype('int64')

In [7]:
df['id'] = df['id'].astype('float64')

In [8]:
df['id'].dtype

dtype('float64')

Изменить **dtype** у всего датафрейма:
```Python
df = df.astype('str')
df.dtypes

longitude             object
latitude              object
housing_median_age    object
total_rooms           object
total_bedrooms        object
population            object
households            object
median_income         object
median_house_value    object
ocean_proximity       object
id                    object
dtype: object
```

## Выборки

In [9]:
df.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,0.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,1.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,2.0

In [10]:
df.tail(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
20637,-121.22,39.43,17.0,2254.0,485.0,NaN,433.0,1.7000,92300.0,INLAND,20637.0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND,20638.0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND,20639.0

In [11]:
df.sample(1, random_state=1)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
4712,-118.36,34.06,39.0,2810.0,670.0,1109.0,624.0,3.25,355000.0,<1H OCEAN,4712.0

In [12]:
df.sample(frac=1).head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
6442,-118.03,34.10,31.0,2647.0,539.0,1473.0,520.0,3.9400,223900.0,INLAND,6442.0
10530,-117.70,33.57,9.0,1204.0,355.0,469.0,293.0,3.6196,119900.0,<1H OCEAN,10530.0
11989,-117.52,33.99,NaN,13562.0,2057.0,7600.0,2086.0,5.2759,182900.0,INLAND,11989.0

# Фильтрация

## df.describe

In [13]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,id
count,20640.000000,20640.000000,19918.000000,20640.000000,20433.000000,20041.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.471242,35.036934,28.653630,2635.763081,537.870553,1425.418243,499.539680,3.870671,206855.816909,10319.500000
std,5.041408,94.903955,12.576796,2181.615252,421.385070,1135.185798,382.329753,1.899822,115395.615874,5958.399114
min,-124.350000,-13534.030000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000,0.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,786.000000,280.000000,2.563400,119600.000000,5159.750000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1165.000000,409.000000,3.534800,179700.000000,10319.500000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1726.000000,605.000000,4.743250,264725.000000,15479.250000
max,122.030000,1327.130000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000,20639.000000

In [14]:
df.describe(include='all')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
count,20640.000000,20640.000000,19918.000000,20640.000000,20433.000000,20041.000000,20640.000000,20640.000000,20640.000000,20640,20640.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<1H OCEAN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9127,NaN
mean,-119.471242,35.036934,28.653630,2635.763081,537.870553,1425.418243,499.539680,3.870671,206855.816909,NaN,10319.500000
std,5.041408,94.903955,12.576796,2181.615252,421.385070,1135.185798,382.329753,1.899822,115395.615874,NaN,5958.399114
min,-124.350000,-13534.030000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000,NaN,0.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,786.000000,280.000000,2.563400,119600.000000,NaN,5159.750000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1165.000000,409.000000,3.534800,179700.000000,NaN,10319.500000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1726.000000,605.000000,4.743250,264725.000000,NaN,15479.250000
max,122.030000,1327.130000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000,NaN,20639.000000

In [15]:
df.describe(include=['object', 'bool'])

       ocean_proximity
count            20640
unique               6
top          <1H OCEAN
freq              9127

In [16]:
df.describe(exclude=['float'])

       ocean_proximity
count            20640
unique               6
top          <1H OCEAN
freq              9127

## df.set_index | df.reset_index

In [17]:
df.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,0.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,1.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,2.0

In [18]:
df = df.set_index('id')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
id,,,,,,,,,,
0.0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1.0,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2.0,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3.0,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4.0,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [21]:
df.reset_index(inplace=True)

In [22]:
df.head()

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,0.0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,1.0,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,2.0,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,3.0,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,4.0,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

## Обращение к столбцам

### Возвращение серии

In [23]:
df['total_rooms']

0         880.0
1        7099.0
2        1467.0
3        1274.0
4        1627.0
          ...
20635    1665.0
20636     697.0
20637    2254.0
20638    1860.0
20639    2785.0
Name: total_rooms, Length: 20640, dtype: float64

In [24]:
df.total_rooms

0         880.0
1        7099.0
2        1467.0
3        1274.0
4        1627.0
          ...
20635    1665.0
20636     697.0
20637    2254.0
20638    1860.0
20639    2785.0
Name: total_rooms, Length: 20640, dtype: float64

### Возвращение ДатаФрейма

In [25]:
df[['total_rooms']]

       total_rooms
0            880.0
1           7099.0
2           1467.0
3           1274.0
4           1627.0
...            ...
20635       1665.0
20636        697.0
20637       2254.0
20638       1860.0
20639       2785.0

[20640 rows x 1 columns]

In [26]:
df[['total_rooms', 'total_bedrooms']]

       total_rooms  total_bedrooms
0            880.0           129.0
1           7099.0          1106.0
2           1467.0           190.0
3           1274.0           235.0
4           1627.0           280.0
...            ...             ...
20635       1665.0           374.0
20636        697.0           150.0
20637       2254.0           485.0
20638       1860.0           409.0
20639       2785.0           616.0

[20640 rows x 2 columns]

## Булевая маска

In [38]:
df['total_rooms'] > 100

0        True
1        True
2        True
3        True
4        True
         ...
20635    True
20636    True
20637    True
20638    True
20639    True
Name: total_rooms, Length: 20640, dtype: bool

In [39]:
df[['total_rooms', 'total_bedrooms']]>900

       total_rooms  total_bedrooms
0            False           False
1             True            True
2             True           False
3             True           False
4             True           False
...            ...             ...
20635         True           False
20636        False           False
20637         True           False
20638         True           False
20639         True           False

[20640 rows x 2 columns]

In [40]:
df[df['total_rooms'] > 100]

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,0.0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,1.0,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,2.0,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,3.0,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,4.0,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
20635,20635.0,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,20636.0,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,20637.0,-121.22,39.43,17.0,2254.0,485.0,NaN,433.0,1.7000,92300.0,INLAND
20638,20638.0,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,20639.0,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

### Логические операторы

#### & - Логическое И(Удовлетворение обоим условиям)

In [41]:
(df['total_rooms'] > 1000) & (df['total_bedrooms']>500)

0        False
1         True
2        False
3        False
4        False
         ...
20635    False
20636    False
20637    False
20638    False
20639     True
Length: 20640, dtype: bool

In [ ]:
df[(df['total_rooms'] > 1000) & (df['total_bedrooms']>500)].head()

#### | - Логическое Или(Удовлетворение хотябы одному из нескольких условий)

In [42]:
df[(df['population'] >=2000) | (df['ocean_proximity']=='NEAR BAY')].head()

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,0.0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,1.0,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,2.0,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,3.0,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,4.0,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

#### ~ - Логическое Отрицание(Противоположный результат указанным условиям)

In [43]:
df[~(df['ocean_proximity'] == 'NEAR BAY')].head()

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
701,701.0,-121.97,37.64,32.0,1283.0,194.0,485.0,171.0,6.0574,431000.0,<1H OCEAN
830,830.0,-121.99,37.61,9.0,3666.0,711.0,2341.0,703.0,4.6458,217000.0,<1H OCEAN
859,859.0,-121.97,37.57,21.0,4342.0,783.0,2172.0,789.0,4.6146,247600.0,<1H OCEAN
860,860.0,-121.96,37.58,15.0,3575.0,597.0,1777.0,559.0,5.7192,283500.0,<1H OCEAN
861,861.0,-121.98,37.58,20.0,4126.0,1031.0,2079.0,975.0,3.6832,216900.0,<1H OCEAN

## Индексация

### df.loc

Взятие строк по **действительному** индексу

### df.iloc

Взятие строк по **исходному(автоинкрементному)** индексу

# Обработка

## Функции

### df.value_counts

Количество значений каждой категории

In [51]:
df['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9127
INLAND        6542
NEAR OCEAN    2655
NEAR BAY      2288
-               23
ISLAND           5
Name: count, dtype: int64

In [55]:
# Доля значений
df['ocean_proximity'].value_counts(normalize=True)

ocean_proximity
<1H OCEAN     0.442200
INLAND        0.316957
NEAR OCEAN    0.128634
NEAR BAY      0.110853
-             0.001114
ISLAND        0.000242
Name: proportion, dtype: float64

### series.unique

Возвращает уникальные значение

In [59]:
df['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', '-', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

### df.nunique

Возвращает количество уникальных значений

In [56]:
df.nunique()

id                    20640
longitude               852
latitude                864
housing_median_age       52
total_rooms            5926
total_bedrooms         1923
population             3854
households             1815
median_income         12928
median_house_value     3842
ocean_proximity           6
dtype: int64

In [60]:
df['ocean_proximity'].nunique()

6

### df.nlargest | df.nsmallest

In [66]:
df.nlargest(2, columns='id')

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
20639,20639.0,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND
20638,20638.0,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND

### df.sort_values

In [74]:
# Сортировка дфа
df.sort_values(by='total_rooms', ascending=False).head()

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
13139,13139.0,-121.44,38.43,NaN,39320.0,6210.0,16305.0,5358.0,4.9516,153700.0,INLAND
10309,10309.0,-117.74,33.89,4.0,37937.0,5471.0,16122.0,5189.0,7.4947,366300.0,<1H OCEAN
9880,9880.0,-121.79,36.64,11.0,32627.0,6445.0,28566.0,6082.0,2.3087,118800.0,<1H OCEAN
6057,6057.0,-117.78,34.03,8.0,32054.0,5290.0,15507.0,5050.0,6.0191,253900.0,<1H OCEAN
12201,12201.0,-117.20,33.58,2.0,30450.0,5033.0,9419.0,3197.0,4.5936,174300.0,<1H OCEAN

In [76]:
# Сортировка серии
df['total_bedrooms'].sort_values(ascending=False).head()

9880     6445.0
13139    6210.0
10309    5471.0
8985     5419.0
6057     5290.0
Name: total_bedrooms, dtype: float64

## Статистики

### mean

In [81]:
df['total_rooms'].mean()

2635.7630813953488

In [82]:
np.mean(df['total_rooms'])

2635.7630813953488

### median

In [83]:
df['total_rooms'].median()

2127.0

In [84]:
np.median(df['total_rooms'])

2127.0

### mode

In [96]:
df['median_income'].value_counts().head()

median_income
3.1250     49
15.0001    49
2.8750     46
2.6250     44
4.1250     44
Name: count, dtype: int64

In [97]:
df['median_income'].mode()

0     3.1250
1    15.0001
Name: median_income, dtype: float64

In [98]:
from scipy.stats import mode
mode(df['median_income'])

ModeResult(mode=3.125, count=49)

### var, std - (Дисперсия/Стандартное отклонение)

In [104]:
np.var(df['median_income'], ddof=0) #ddof - степень свободы

3.60914768969746

In [105]:
np.std(df['median_income'])

1.899775694574878

### min, max

In [106]:
df['median_income'].min()

0.4999

In [107]:
np.max(df['median_income'])

15.0001

## Cводники

### df.where

### df.query

In [9]:
df.query('total_rooms == 880 and total_bedrooms == 129')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,0

### df.groupby

### df.merge

### df.join

### df.crosstab

### df.pivot_table

## Дубликаты

## Пропуски

### df.isna | df.isnull

In [46]:
df.isna().sum()

id                      0
longitude               0
latitude                0
housing_median_age    722
total_rooms             0
total_bedrooms        207
population            599
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [47]:
df.isnull().sum()

id                      0
longitude               0
latitude                0
housing_median_age    722
total_rooms             0
total_bedrooms        207
population            599
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

## Удаление