In [1]:
import numpy as np
import pandas as pd

#### **Операции над данными**

**np.random.RandomState** -

In [2]:
rng = np.random.RandomState(42)

In [4]:
ser = pd.Series(rng.randint(0, 10, 4))

In [5]:
ser

0    6
1    3
2    7
3    4
dtype: int32

In [7]:
df = pd.DataFrame(rng.randint(0, 10, (3, 4)), columns=['A', 'B', 'C', 'D'])

In [8]:
df

   A  B  C  D
0  1  7  5  1
1  4  0  9  5
2  8  0  9  2

Универсальные функции из библиотеки **NumPy** поддерживаются любым объектом **Pandas**. \
Результатом будет другой объект **Pandas** *с сохранением индексов*

In [13]:
np.exp(ser)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

In [14]:
np.sin(df * np.pi / 4)

              A         B         C         D
0  7.071068e-01 -0.707107 -0.707107  0.707107
1  1.224647e-16  0.000000  0.707107 -0.707107
2 -2.449294e-16  0.000000  0.707107  1.000000

In [56]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662, 'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,'New York': 19651127}, name='population')

In [57]:
population / area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

*Сопоставление индексов было реализовано подобно объединению множеств, отсутствующие значения получили аттрибут NaN*

In [62]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])

In [65]:
print(A, '\n')
print(B)

0    2
1    4
2    6
dtype: int64

1    1
2    3
3    5
dtype: int64

In [67]:
# Сложение двух объектов Series аналогично сложению множеств, пустые значения - NaN
A+B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

method **add** - Реализация оператора "+" для объектов \
attribute **fill_value** - Значения заполнителя, подставит значения для всех пустых элементов

In [75]:
A.add(B, fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64